<div class="container">
    <div class="tableData">
        <div class="row">
            <div class="col-md-12">
                <table datatable class="row-border hover">
                    <thead>
                        <tr>
                            <th>Column Name</th>
             
                            <th>Selected Rules</th>
             
                            <th>Map Rules</th>
                        </tr>
                    </thead>
             
                    <tbody>
                        <tr *ngFor="let post of attribute">
                            <td>{{ post.columnname }}</td>
             
                            <td>
                                <div *ngIf="post.mappedRule.length != 0">
                                    <span class="chip" *ngFor="let item of post.chipsList;">
                                        {{item.rule}}
                                    </span>
                                    <span class="chipsCount" *ngIf="post.mappedRule.length > 5" (click)="displayChipsList(post)">+ {{post.mappedRule.length-5}}</span>
                                </div>
                                <div *ngIf="post.mappedRule.length == 0">
                                    NA
                                </div>
                            </td>
             
                            <td (click)="addFieldValue(post)"><img src="../../assets/list-check_3.png" width="25px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="modal right_modal fade" id="information_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
          Snehith
      </div>
    </div>
</div> -->
<div id="information_modal" class="modal right_modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <span style="display: flex;align-items: center;">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModel()">&times;</button>
                <h5 class="modal-title">Select Business Rule <span>{{checkedList?.length}} Items selected</span></h5>
            </span>
          <button type="button" (click)="addNewRow()">Add New Rule</button>
        </div>
        <div class="modal-body">          
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th><input type="checkbox" [checked]="isSelectedAll === true" (change)="selectAll($event.target.checked)" /></th> -->
                                <th><input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                    (change)="checkUncheckAll()" /></th>              
                                <th>Name</th>
                                <th>Category</th>
                                <th style="width: 100px;">Version</th>
                                <th>Value Check Formula</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isDisplayRow == true">
                                <!-- <td><input type="checkbox" (change)="checkCheckBoxvalue(1, $event.target.checked)" [checked]="isSelectAll == true"/></td> -->
                                <td style="padding: 18px 0.5rem; visibility: hidden;"><input type="checkbox"/></td>
                                <td><input type="text" class="form-control" [(ngModel)]="valueField" name="valueField"></td>
                                <td><input type="text" class="form-control" [(ngModel)]="category" name="category"></td>
                                <td><input type="text" class="form-control" [(ngModel)]="version" name="version"></td>
                                <td><input type="text" class="form-control" [(ngModel)]="valueCheck" name="valueCheck"></td>
                            </tr>
                            <tr *ngFor="let field of ruledata; let i = index">
                                <!-- <td><input type="checkbox" (change)="checkCheckBoxvalue(1, $event.target.checked)" [checked]="isSelectAll == true"/></td> -->
                                <td style="padding: 10px 0.5rem;"><input type="checkbox" [(ngModel)]="field.isSelected" value="{{field.ruleid}}"
                                    (change)="isAllSelected()"/></td>
                                <td>{{field.valueField}}</td>
                                <td>{{field.category}}</td>
                                <td>{{field.version}}</td>
                                <td>{{field.valueCheck}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" style="border: 2px solid; margin-right: 15px;" (click)="closeModel()">Cancel</button>
          <button type="button" class="btn btn-default" style="color: #fff;background: #015ca9;border: 2px solid #015ca9;" (click)="assignList()">Save</button>
        </div>
      </div>
  
    </div>
  </div>

  
<div id="Chips_modal" class="modal right_modal fade" role="dialog">
    <div class="modal-dialog" style="width: 30%;">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <span style="display: flex;align-items: center;">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModel()">&times;</button>
                <h5 class="modal-title" style="line-height: 20px;">Mapped Rules<br><span>{{selectedData?.mappedRule?.length}} rules mapped for {{selectedData?.columnname}}</span></h5>
            </span>
        </div>
        <div class="modal-body">          
            <div class="row">
                <div class="col-md-12">
                    <span class="chip" style="display: table;margin-bottom: 10px;" *ngFor="let chips of selectedData?.mappedRule;">
                        {{chips.rule}}
                    </span>
                </div>
            </div>
        </div>
      </div>
  
    </div>
  </div>